<div class="nav-bar">
  <div class="d-flex nav-left">
    <h2>
      Budeget App
    </h2>
    <%= current_user.name %>
    <%= current_user.id %>
  </div>
  <div class="nav-right" >
    <% if user_signed_in? %>
      <%= link_to "Categories", groups_path %>
      <%= link_to "Activities", activities_path %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% else %>
       <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </div>
</div>