<div class='add-group-container d-flex flex-column mt-4 align-items-center'>

  <h1>Add New Group</h1>

  <%= form_with(model: group, class: 'add-activity-form d-flex flex-column justify-content-between mt-4') do |form| %>
    <div>
      <% if group.errors.any? %>
        <div id="error-explanation">
          <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% group.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.text_field :name, placeholder: 'Name',class: 'input' %>
      </div>

      <div class="field">
        <%= form.text_field :icon, placeholder: 'Icon url',class: 'input' %>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= form.submit 'Save Group', class: "btn new-item-btn" %>
    </div>
  <% end %>
</div>
