<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @group.icon %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= total_amount(@activities) %>
</p>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.name %></td>
          <td><%= activity.amount %></td>
          <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to 'New Activity', new_activity_path %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
