<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <% if @groups.empty? %>
    <p>No groups to show</p>
  <% else %>
    <div class="form-group">
      <label for="group" class="form-label">Group</label>
      <%= form.select :group_id, @groups.map { |group| [ group.id]} ,class: "form-control" %>
    </div>
  <% end %>

  <%= form.hidden_field :author_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
